<div class="container login" style>
  <div class="login-title">
    <h1 class="big-heading second">Shifty.</h1>
    <p class="second">Keep on top of your shifts</p>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs first">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" }, class: "first"%>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions login-btn-ctr">
      <%= f.button :submit, "Get Started", class: "btn-submit" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
